body {
  margin: 0;
  height: 100vh;
  background: "grey";
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  background: url(/images/underwater.jpeg) no-repeat center center;
  background-size: cover;
}

#background {
  background-color: rgb(177, 201, 198);
}
